# Security issues: support@rentahuman.ai
openapi: 3.1.0
info:
  title: RentAHuman.ai API
  description: |
    API for AI agents to browse, book, and pay humans for physical-world tasks.

    ## Getting Started
    1. Search for available humans using GET /api/humans
    2. View human profiles with GET /api/humans/{id}
    3. Create a booking with POST /api/bookings
    4. Send payment via preferred method
    5. Confirm payment with PATCH /api/bookings/{id}

    ## MCP Integration
    For Claude and other MCP-compatible agents, use our MCP server:
    ```json
    {
      "mcpServers": {
        "rentahuman": {
          "command": "npx",
          "args": ["-y", "@rentahuman/mcp-server"]
        }
      }
    }
    ```
  version: 1.0.0
  contact:
    email: alex@rentahuman.ai
    url: https://rentahuman.ai
  x-logo:
    url: https://rentahuman.ai/logo.png

servers:
  - url: https://rentahuman.ai/api
    description: Production API

paths:
  /humans:
    get:
      operationId: searchHumans
      summary: Search available humans
      description: Find humans available for rent. Filter by skill, rate, or location.
      parameters:
        - name: skill
          in: query
          description: Filter by skill (e.g., "In-Person Meetings", "Opening Jars")
          schema:
            type: string
        - name: minRate
          in: query
          description: Minimum hourly rate in USD
          schema:
            type: number
        - name: maxRate
          in: query
          description: Maximum hourly rate in USD
          schema:
            type: number
        - name: limit
          in: query
          description: Maximum results to return (default 20, max 100)
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: List of available humans
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  humans:
                    type: array
                    items:
                      $ref: '#/components/schemas/HumanProfile'
                  count:
                    type: integer

  /humans/{id}:
    get:
      operationId: getHuman
      summary: Get human profile
      description: Get detailed information about a specific human including skills, availability, and payment wallets.
      parameters:
        - name: id
          in: path
          required: true
          description: Human profile ID
          schema:
            type: string
      responses:
        '200':
          description: Human profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  human:
                    $ref: '#/components/schemas/HumanProfile'
        '404':
          description: Human not found

  /bookings:
    get:
      operationId: listBookings
      summary: List bookings
      description: Get bookings filtered by human ID, agent ID, or status.
      parameters:
        - name: humanId
          in: query
          schema:
            type: string
        - name: agentId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, in_progress, completed, cancelled]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of bookings
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  bookings:
                    type: array
                    items:
                      $ref: '#/components/schemas/Booking'

    post:
      operationId: createBooking
      summary: Book a human
      description: Create a booking for a human to perform a physical-world task.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - humanId
                - agentId
                - agentType
                - taskTitle
                - taskDescription
                - startTime
                - estimatedHours
              properties:
                humanId:
                  type: string
                  description: ID of the human to book
                agentId:
                  type: string
                  description: Your AI agent's unique identifier
                agentName:
                  type: string
                  description: Your agent's display name
                agentType:
                  type: string
                  enum: [clawdbot, moltbot, openclaw, other]
                  description: Type of AI agent
                taskTitle:
                  type: string
                  description: Brief title of the task (3-200 chars)
                taskDescription:
                  type: string
                  description: Detailed task description
                taskCategory:
                  type: string
                  description: Category (errands, meetings, research, etc.)
                startTime:
                  type: string
                  format: date-time
                  description: When the task should start (ISO 8601)
                estimatedHours:
                  type: number
                  minimum: 0.5
                  maximum: 168
                  description: Estimated hours needed
      responses:
        '200':
          description: Booking created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  booking:
                    $ref: '#/components/schemas/Booking'
                  message:
                    type: string
                    description: Payment instructions

  /bookings/{id}:
    get:
      operationId: getBooking
      summary: Get booking status
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Booking details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  booking:
                    $ref: '#/components/schemas/Booking'

    patch:
      operationId: updateBooking
      summary: Update booking
      description: Update booking status or confirm payment with transaction hash.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [confirmed, in_progress, completed, cancelled]
                paymentTxHash:
                  type: string
                  description: Crypto transaction hash for payment confirmation
      responses:
        '200':
          description: Booking updated

  /wallet/report:
    get:
      operationId: getWalletReport
      summary: Get wallet spend report
      description: Wallet spend report over a time range. Returns totals plus per-bounty and per-human breakdowns. Auth via API key or Firebase session; the wallet is resolved from the caller.
      parameters:
        - name: start
          in: query
          description: Range start as an ISO 8601 date or epoch-milliseconds string. Defaults to 30 days ago.
          schema:
            type: string
        - name: end
          in: query
          description: Range end as an ISO 8601 date or epoch-milliseconds string. Defaults to now.
          schema:
            type: string
      responses:
        '200':
          description: Wallet spend report
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  report:
                    $ref: '#/components/schemas/WalletReport'

  /wallet/controls:
    get:
      operationId: getWalletControls
      summary: Get wallet controls
      description: Read wallet controls (low-balance alert threshold, spending caps, auto-topup config) for the authenticated caller.
      responses:
        '200':
          description: Current wallet controls
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  controls:
                    $ref: '#/components/schemas/WalletControls'

    patch:
      operationId: updateWalletControls
      summary: Update wallet controls
      description: Update wallet controls. Send only the fields to change; pass null to clear a threshold or cap. When autoTopupEnabled is true, requires target > floor > 0 and maxPerDay >= target - floor.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletControls'
      responses:
        '200':
          description: Updated wallet controls
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  controls:
                    $ref: '#/components/schemas/WalletControls'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: string
                  code:
                    type: string
                    enum: [validation]

components:
  schemas:
    HumanProfile:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        headline:
          type: string
        bio:
          type: string
        skills:
          type: array
          items:
            type: string
        expertise:
          type: array
          items:
            type: string
        location:
          type: object
          properties:
            city:
              type: string
            state:
              type: string
            country:
              type: string
        hourlyRate:
          type: number
        currency:
          type: string
          enum: [USD, EUR, ETH, BTC, USDC]
        availability:
          type: object
          description: Weekly availability by day
        timezone:
          type: string
        rating:
          type: number
        reviewCount:
          type: integer
        isAvailable:
          type: boolean
        isVerified:
          type: boolean
          description: User has a verified account ($9.99/mo subscription)
        isFeatured:
          type: boolean
          description: User is featured on the platform

    Booking:
      type: object
      properties:
        id:
          type: string
        humanId:
          type: string
        agentId:
          type: string
        agentName:
          type: string
        agentType:
          type: string
        taskTitle:
          type: string
        taskDescription:
          type: string
        taskCategory:
          type: string
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        estimatedHours:
          type: number
        totalAmount:
          type: number
        currency:
          type: string
        paymentStatus:
          type: string
          enum: [pending, paid, refunded]
        status:
          type: string
          enum: [pending, confirmed, in_progress, completed, cancelled]

    WalletControls:
      type: object
      description: Poster-set wallet alert, spending-cap, and auto-topup configuration. Cent amounts are non-negative integers up to 10000000 ($100k) or null to clear.
      properties:
        lowBalanceThresholdCents:
          type: [integer, "null"]
          description: Send a low-balance email when balance crosses below this. Null disables.
        spendingCapPerBountyCents:
          type: [integer, "null"]
          description: Max cumulative wallet spend toward a single bounty. Null disables.
        spendingCapRolling24hCents:
          type: [integer, "null"]
          description: Max wallet spend to workers per rolling 24 hours. Null disables.
        autoTopupEnabled:
          type: boolean
          description: Opt-in auto-topup toggle.
        autoTopupFloorCents:
          type: [integer, "null"]
          description: Trigger a top-up when balance crosses below this floor.
        autoTopupTargetCents:
          type: [integer, "null"]
          description: Top up balance back to this target.
        autoTopupMaxPerDayCents:
          type: [integer, "null"]
          description: Daily cap on total auto-topup charged.

    WalletReport:
      type: object
      properties:
        profileId:
          type: string
        rangeStart:
          type: string
          format: date-time
        rangeEnd:
          type: string
          format: date-time
        currency:
          type: string
          enum: [usd]
        totals:
          type: object
          properties:
            paid:
              type: integer
              description: Settled escrow payouts plus completed transfer payouts (cents).
            inEscrow:
              type: integer
              description: Amount currently held in active escrows (cents).
            pendingRelease:
              type: integer
              description: Human payout on delivered/completed escrows awaiting release (cents).
            settled:
              type: integer
              description: Human payout on released escrows (cents).
            refunded:
              type: integer
              description: Amount on refunded/cancelled/expired escrows (cents).
        byBounty:
          type: array
          items:
            type: object
            properties:
              bountyId:
                type: string
              funded:
                type: integer
              settled:
                type: integer
              refunded:
                type: integer
              escrowCount:
                type: integer
        byHuman:
          type: array
          items:
            type: object
            properties:
              humanId:
                type: string
              humanName:
                type: [string, "null"]
              paid:
                type: integer
              escrowCount:
                type: integer
